@import "tailwindcss";
@config "/tailwind.config.js";

/* Variáveis de tema (necessárias pro shadcn/ui funcionar) */
@theme {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 142.1 76.2% 36.3%;
  --radius: 0.5rem;
}

body {
  font-family: "Spline Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #264532;
}

::-webkit-scrollbar-thumb {
  background: #38e07b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2dae60;
}
